/* line 4, ../_scss/master.scss */
body {
  font-size: 16px;
  font-weight: 300;
  font-family: "facitweb", sans-serif;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  background: #fff;
  color: #000;
  margin: 0;
}

/* line 17, ../_scss/master.scss */
img a, img {
  border: 0;
}

/* line 23, ../_scss/master.scss */
a {
  color: #176aa5;
}

/* line 27, ../_scss/master.scss */
blockquote {
  font-style: italic;
}

/* line 31, ../_scss/master.scss */
.highlight {
  background: #f7f7f7;
  padding: 5px 25px;
  border: 1px solid #cccccc;
  overflow: auto;
  width: 100%;
  line-height: 1.5em;
}

/* line 40, ../_scss/master.scss */
.gist {
  font-size: 90%;
}

/* line 44, ../_scss/master.scss */
ol {
  font-size: 13px;
  line-height: 1.3em;
}

/* line 49, ../_scss/master.scss */
ol, li {
  /*  list-style: none;*/
}

/* line 53, ../_scss/master.scss */
ul, ol {
  margin-top: 0;
  padding-left: 30px;
}

/* line 58, ../_scss/master.scss */
h1 {
  font-size: 40px;
}

/* line 62, ../_scss/master.scss */
ul.speaking {
  padding-left: 10px;
}

/* line 66, ../_scss/master.scss */
ul.speaking li {
  list-style: none;
  padding: 9px 0;
}

/* line 71, ../_scss/master.scss */
ul.speaking li:first-child {
  padding-top: 0;
}

/* line 75, ../_scss/master.scss */
.speaking li .conference {
  font-weight: bold;
}

/* line 79, ../_scss/master.scss */
ul.speaking li .date {
  display: inline-block;
  float: right;
  color: #CCC;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
}

/* line 88, ../_scss/master.scss */
.cv ul {
  font-size: 14px;
}

/* line 92, ../_scss/master.scss */
#mwrap {
  overflow: auto;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 99, ../_scss/master.scss */
#left {
  position: absolute;
  width: 23%;
  padding-left: 3%;
  min-height: 100%;
  text-align: left;
  padding-top: 120px;
}

/* line 108, ../_scss/master.scss */
#short-bio p {
  font-family: inherit;
}

/* line 112, ../_scss/master.scss */
.tk-facitweb a {
  font-weight: 600;
}

/* line 116, ../_scss/master.scss */
#heading {
  position: relative;
  border-bottom: 1px solid #cacaca;
  padding: 40px;
  padding-top: 0;
  margin-left: 26%;
  border-left: 1px solid #cacaca;
}
/* line 124, ../_scss/master.scss */
#heading .skills {
  color: #ccc;
  font-weight: 100;
}

/* line 130, ../_scss/master.scss */
#heading h1, #heading h1 a {
  margin: 0;
  padding: 20px 0 0;
  font-size: 72px;
  line-height: 72px;
  color: #000;
  text-decoration: none;
}

/* line 139, ../_scss/master.scss */
#heading h2 {
  font-size: 23px;
  line-height: 23px;
  color: #ccc;
  margin-bottom: 0;
}

/* line 146, ../_scss/master.scss */
#heading h3 {
  margin-bottom: 0;
}

/* line 150, ../_scss/master.scss */
#center {
  height: 100%;
  position: relative;
  line-height: 22px;
  margin-left: 26%;
  padding-left: 0px;
  padding-top: 0px;
  border-left: 1px solid #cacaca;
}

/* line 160, ../_scss/master.scss */
ul#leftnav {
  margin: 0;
}

/* line 164, ../_scss/master.scss */
ul#leftnav li a {
  display: block;
  padding: 10px 0;
  font-weight: 500;
  font-family: helvetica;
}

/* line 171, ../_scss/master.scss */
#wrap {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
}

/* line 177, ../_scss/master.scss */
#content {
  width: 745px;
  margin: 0 auto;
  padding: 0px 250px 20px 20px;
}

/* line 183, ../_scss/master.scss */
#footer {
  background: black url(/images/footer-bg.png) repeat-x 0 0;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  padding: 15px 0 0 0;
  color: #808080;
  clear: both;
}

/* line 193, ../_scss/master.scss */
#about-me, #featured-projects, #recent-posts {
  width: 275px;
  padding: 0 20px;
  float: left;
}

/* line 199, ../_scss/master.scss */
#recent-posts {
  left: 315px;
}

/* line 203, ../_scss/master.scss */
#featured-projects {
  left: 630px;
}

/* line 207, ../_scss/master.scss */
#featured-projects ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

/* line 213, ../_scss/master.scss */
#featured-projects ul li.title {
  color: #F2F2F2;
  font-size: 12px;
}

/* line 218, ../_scss/master.scss */
#featured-projects ul li {
  font-size: 10px;
}

/* line 222, ../_scss/master.scss */
#footer #legal {
  clear: both;
  padding: 20px 0;
}

/* line 227, ../_scss/master.scss */
#footer #legal p {
  font-size: 10px;
  color: #333;
  text-align: center;
}

/* line 233, ../_scss/master.scss */
#content p {
  line-height: 1.6em;
}

/* line 235, ../_scss/master.scss */
#content a {
  color: #3366cc;
}

/* line 237, ../_scss/master.scss */
.skills p {
  font-size: 13px;
}

/* line 241, ../_scss/master.scss */
.post {
  padding: 35px 0 20px 40px;
  padding-right: 10%;
  border-bottom: 1px solid #cccccc;
}

/* line 247, ../_scss/master.scss */
#posts .post:last-child {
  border-bottom: 0;
}

/* posts */
/* line 252, ../_scss/master.scss */
.post h2.title, .post h1.title {
  margin-bottom: 0px;
  margin-top: 0;
  position: relative;
  font-size: 36px;
  line-height: 1.3em;
}

/* line 260, ../_scss/master.scss */
.post h2.title span.title, .post h1.title span.title {
  max-width: 600px;
  display: inline-block;
}

/* line 265, ../_scss/master.scss */
.post h2.title a, .post h1.title a {
  color: inherit;
  text-decoration: none;
}

/* line 270, ../_scss/master.scss */
.post h2.title .published-at, .post h1.title .published-at {
  position: absolute;
  right: 20px;
  bottom: 0;
  font-size: 16px;
}

/* line 277, ../_scss/master.scss */
.post .body {
  padding-right: 25%;
  min-width: 575px;
  max-width: 650px;
  line-height: 2.1em;
  font-size: 15px;
  color: #000;
}

/* line 286, ../_scss/master.scss */
.post a {
  font-weight: 600;
}

/* line 292, ../_scss/master.scss */
.post .body h3,
.post .body h2,
.post .body h1 {
  color: #000;
}

/* line 296, ../_scss/master.scss */
.post .body p {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 301, ../_scss/master.scss */
.post .body p:first-child {
  margin-top: 10px;
}

/* line 305, ../_scss/master.scss */
#content .post h2.title a {
  color: #993333;
  font-weight: normal;
  font-size: 40px;
  text-decoration: none;
  margin-top: 0;
}

/* line 313, ../_scss/master.scss */
.posted-by {
  color: #333333;
  font-size: 11px;
  margin-left: 1px;
}

/* sidebar */
/* line 321, ../_scss/master.scss */
#sidebar {
  width: 250px;
  float: left;
  padding: 40px 0 0 15px;
  margin: 0;
  background: transparent;
}

/* line 329, ../_scss/master.scss */
#nfooter {
  clear: both;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 12px;
  font-weight: 600;
}

/* line 339, ../_scss/master.scss */
.post img {
  border: 1px solid #7a7a7a;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

/* line 345, ../_scss/master.scss */
.post .tags {
  font-size: 0.8em;
  font-style: italic;
}

/* #presentations */
/* line 351, ../_scss/master.scss */
ul#presentations {
  padding: 0;
}

/* line 355, ../_scss/master.scss */
#presentations li.presentation {
  list-style: none;
}

/* line 359, ../_scss/master.scss */
.feedburner-form {
  padding-top: 22px;
  display: block;
  border-top: 1px solid #cccccc;
  margin-left: -19%;
  padding-left: 19%;
  margin-top: 43px;
  font-size: 13px;
  text-align: left;
}

/* line 370, ../_scss/master.scss */
.feedburner-form label {
  display: block;
  line-height: 1.7em;
  font-weight: bold;
}

/* line 377, ../_scss/master.scss */
.feedburner-form input.email {
  width: 178px;
  line-height: 21px;
  font-size: 14px;
  padding-left: 3px;
  font-weight: normal;
  border-radius: 0px;
}

/* line 386, ../_scss/master.scss */
h1 .twitter-share-button, h2 .twitter-share-button {
  padding-top: 11px;
  position: absolute;
  right: 50px;
  top: 40px;
}

/* line 393, ../_scss/master.scss */
.back-button {
  position: absolute;
  top: 0;
  top: -200px;
  background: black;
  color: white;
  padding: 15px 40px;
  font-weight: 100;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: block;
  color: white;
  text-decoration: none;
}
/* line 407, ../_scss/master.scss */
.back-button:hover {
  color: #ccc;
}
/* line 411, ../_scss/master.scss */
.back-button.ready {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  top: 0;
}

/* line 418, ../_scss/master.scss */
.social-icons {
  position: relative;
  display: block;
  height: 17px;
}
/* line 423, ../_scss/master.scss */
.social-icons a {
  vertical-align: middle;
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding-right: 2px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 431, ../_scss/master.scss */
.social-icons a:hover {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #176aa5;
}
/* line 435, ../_scss/master.scss */
.social-icons a.icon-github {
  font-size: 18px;
  color: black;
}
/* line 439, ../_scss/master.scss */
.social-icons a.icon-twitter {
  color: #4099FF;
}
/* line 442, ../_scss/master.scss */
.social-icons a.icon-dribbble {
  color: #ea4c89;
}
/* line 445, ../_scss/master.scss */
.social-icons a.icon-github:hover {
  color: grey;
}
/* line 448, ../_scss/master.scss */
.social-icons a.icon-twitter:hover {
  color: #176aa5;
}
/* line 451, ../_scss/master.scss */
.social-icons a.icon-dribbble:hover {
  color: #ac2d5d;
}

/* line 457, ../_scss/master.scss */
.avatar img {
  width: 60px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  top: 35px;
  right: 35px;
  -webkit-box-shadow: 0 1px 0 black;
  -moz-box-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
}
