<form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=alexjsharp', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" class="feedburner-form">
  <p>
    <label>Get email updates:</label>
    <input type="text" class="email" name="email" placeholder="your email address"/>
  </p>
  <input type="hidden" value="alexjsharp" name="uri"/>
  <input type="hidden" name="loc" value="en_US"/>
  <input type="submit" value="Subscribe" />
</form>