<form action="http://frothlogic.us6.list-manage1.com/subscribe/post?u=16d32fbf4d917f4101e91d096&amp;id=38815f0480" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate feedburner-form" target="_blank" novalidate>
  <p>
    <label for="mce-EMAIL">Get email updates:</label>
    <input type="email" value="" placeholder="your email address" name="EMAIL" class="email" id="mce-EMAIL" required>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </p>
</form>