<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Alex Sharp | alexjsharp.com" />
    <meta name="author" content="Alex Sharp" />

    <script type="text/javascript" src="//use.typekit.net/fsb3slq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!--[if IE]>
        <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/font-awesome-social.css" rel="stylesheet" />
    <link href="/css/master.css" media="screen" rel="stylesheet" type="text/css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include clicktale_top.html %}

    <div id="left">
      {% if page.url != '/index.html' %}
      <a href="/" title="back" class="back-button">
        <i class="icon-circle-arrow-left"></i>
        back
      </a>
      <script>
        $(document).ready(function() {
          $('.back-button').addClass('ready')
        })
      </script>
      {% endif %}
      <div id="short-bio tk-facitweb">
        <p class="tk-facitweb" style="font-weight: 800">Alex Sharp</p>

        <div class="skills tk-facitweb">
          <p>engineer</p>
          <p>designer</p>
          <p>cook</p>
          <p>&nbsp;</p>
        </div>

        <p class="tk-facitweb">I work at <a href="https://www.zaarly.com">Zaarly</a>.</p>
        <p></p>

        <p class="tk-facitweb">
          Find me on
          <a href="https://www.twitter.com/ajsharp" title="Alex Sharp (@ajsharp)" target="_blank">Twitter</a> and
          <a href="https://www.github.com/ajsharp" title="Alex Sharp (@ajsharp)" target="_blank">Github</a>.
        </p>

        {% include feedburner_email_form.html %}
      </div>
    </div>

    <div id="heading">
      <h1 class="tk-facitweb"><a href="/">Alex Sharp</a></h1>
      <div class="avatar">
        <img src="http://www.gravatar.com/avatar/e4f80e42794094c98a40bfebef4ec292.png" class="avatar" alt="Alex Sharp" />
      </div>

      <div class="social-icons">
        <a href="https://github.com/ajsharp" title="Alex Sharp (@ajsharp)" target="_blank" class="icon-github"></a>
        <a href="https://twitter.com/ajsharp" class="icon-twitter" title="Alex Sharp (@ajsharp)" target="_blank"></a>
        <a href="http://dribbble.com/ajsharp" class="icon-dribbble" title="Alex Sharp (@ajsharp)" target="_blank"></a>
        <span class="skills">engineer / designer / cook</span>
      </div>
    </div>

    <div id="center">
      <div id="center-content">
        <div id="posts">
          {{ content }}
        </div>
      </div>

      <div id="nfooter">
        <div id="legal">
          Content copyright &copy; 2008-{{ site.time | date: "%Y" }} Alex Sharp.
          </div>
      </div>
    </div>
    
    {% include ga.html %}
    {% include gauges.html %}
    {% include clicktale_bottom.html %}

  </body>
</html>